{{- $page := newScratch -}}
{{- $page.Set "language" (default "en" .Language) -}}
{{- $page.Set "description" (plainify (default .Summary .Description)) -}}
{{- $page.Set "URL" (replace (replace .Permalink "//development" "//www") "//staging" "//www") -}}
{{- $page.Set "imagePath" (default .Site.Data.meta.site.image.path .Params.intro_image) -}}
{{- $page.Set "siteName" .Site.Title -}}
{{- $page.Set "siteURL" (replace (replace (absURL "/") "//development" "//www") "//staging" "//www") -}}
{{- if .IsHome -}}
{{- $page.Set "type" "WebSite" -}}
{{- $page.Set "typeOG" "website" -}}
{{- $page.Set "name" .Site.Title -}}
{{- else if .IsPage -}}
{{- $page.Set "type" (default "WebPage" .Params.Type) -}}
{{- $page.Set "typeOG" "article" -}}
{{- $page.Set "name" .Title -}}
{{- else -}}
{{- $page.Set "type" "CollectionPage" -}}
{{- $page.Set "typeOG" "website" -}}
{{- $page.Set "name" .Title -}}
{{- end -}}
{{- with .Site.Data.meta.author.full_name -}}
{{- $page.Set "author" (printf "%s %s" .given_name .family_name) -}}
{{- end -}}
{{- $page.Set "publisher" (default ($page.Get "author") .Site.Data.meta.site.publisher) }}
  <meta charset="utf-8">
  <meta name="application-name" content="{{ .Site.Title }}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
{{- if .Site.Params.enableSearchEngineMeta }}
{{- $isProduction := (hugo.IsProduction | or (eq .Site.Params.env "production")) -}}
{{- $isIndexable := (and $isProduction (or (not (isset .Params "_build")) (in (slice true "always") .Params._build.list))) -}}
  {{- if $isIndexable }}
  <meta name="robots" content="index, follow">{{ else }}
  <meta name="robots" content="noindex, nofollow">{{- end }}
{{- end }}
  <meta name="author" content="{{- $page.Get "author" -}}">
  <meta name="publisher" content="{{- $page.Get "publisher" -}}">
  <meta name="description" content="{{- $page.Get "description" -}}">
  <meta property="og:title" content="{{- $page.Get "name" -}}">
  <meta property="og:description" content="{{- $page.Get "description" -}}">
  <meta property="og:type" content="{{- $page.Get "typeOG" -}}">
  <meta property="og:image" content="{{- (resources.Get ($page.Get "imagePath")).Permalink -}}">
  <meta property="og:url" content="{{- $page.Get "URL" -}}">
  <script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"{{- $page.Get "type" -}}",
    "name":"{{- $page.Get "name" | safeJS -}}",
    "description":"{{- $page.Get "description" -}}",
    "url": {{- $page.Get "URL" | absURL -}},
    "image": {{- $page.Get "imagePath" | absURL -}},
    "inLanguage":"{{- $page.Get "language" -}}"
  }
  </script>
{{- with .Keywords }}  <meta name="keywords" content="{{- delimit . ", " -}}">
{{- end }}
  <link rel="canonical" href="{{- $page.Get "URL" -}}">
  <link rel="publisher" href="{{- $page.Get "siteURL" -}}">
{{- range .AlternativeOutputFormats }}
{{ printf `  <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{- end }}
{{- if .IsTranslated }}
{{- $defaultContentLanguage := (index .Site.Languages 0).Lang }}
{{- range where .AllTranslations "Language.Lang" "not in" (slice "" "cdn") }}
  <link rel="alternate" hreflang="{{- .Language.Lang -}}" href="{{- .Permalink -}}" title="{{- .Language.LanguageName }}">
{{- if eq .Language.Lang $defaultContentLanguage }}
  <link rel="alternate" hreflang="x-default" href="{{- .Permalink -}}" title="{{- .Language.LanguageName }}">
{{- end }}
{{- end }}
{{- end }}
