{{- with .Site.Data.meta.author.full_name -}}
<span itemprop="name"><span itemprop="givenName">{{- .given_name -}}</span>&nbsp;<span itemprop="familyName">{{- .family_name -}}</span></span>
{{- end -}}
