{{- $logo := .Site.Params.logo.path | default "/image/logo/logo.svg" -}}
{{- $height := .height | default 32 -}}
{{- with .Site.Data.meta.author.full_name -}}
<svg class="max-w-full" height="{{- $height -}}" alt="{{ .given_name }} {{ .family_name }}" preserveAspectRatio="xMinYMid meet" x="0" y="0"><use xlink:href="#svg-logo-main"></use></svg>
{{- end -}}
{{- /* Trim EOF */ -}}
