{{- $country := (index .Site.Data .Site.Language.Lang).country -}}
{{- with .Site.Data.meta.author.postal_address -}}
<span itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
{{- with .street_address -}}
  <span itemprop="streetAddress">{{- . -}}</span>
{{- end -}}
{{- if or (isset . "postal_code") (isset . "location") -}}<br>{{- end -}}
{{- with .postal_code -}}<span itemprop="postalCode">{{ . }}</span>&nbsp;{{- end -}}
{{- with .location -}}<span itemprop="addressLocality">{{ . }}</span>{{- end -}}
{{- with .country_code -}}<br><span itemprop="addressCountry">{{ index $country . }}</span>{{- end -}}
</span>
{{- end -}}
